:root {
  --color-primary: #FFFFFF;
  --color-primary-var: #ECEFF3;
  --color-on-primary: #8951FF;
  --color-secondary: #ECE9FF;
  --color-secondary-var: ;
  --color-on-secondary: ;

}

body {
  margin: 0;
  font-family: 'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}
