#root, body, html {
  height: 100%;
  font-size: 10px;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

:root {
  --color-primary: #FFFFFF;
  --color-primary-var: #ECEFF3;
  --color-on-primary: #8951FF;
  --color-secondary: #ECE9FF;
  --color-secondary-var: #E2D5FF;
  --color-on-secondary: ;

}

body {
  margin: 0;
  font-family: 'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F9FAFC;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar-button {
  height: 0;
  width: 0
}